<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dream wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<meta charset="UTF-8">
<title> Manage Events </title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<body>
<div class="container-fluid text-center">
    <div><h2> Current Events </h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/daVincibaptisms/new}"> Add New Event</a>
    </div>

    <div th:if="${#messages}" class="alert alert-success text-center">
        [[${message}]]
    </div>



    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th> ID</th>
                <th> Location</th>
                <th> Design</th>
                <th> Reservation Name</th>
                <th> Contact Name</th>
                <th> Phone Number</th>
                <th> Enabled</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="baptism: ${listBaptisms}">
                <tr>
                    <td>[[${baptism.id}]]</td>
                    <td>[[${baptism.location}]]</td>
                    <td>[[${baptism.design}]]</td>
                    <td>[[${baptism.reservationName}]]</td>
                    <td>[[${baptism.contactName}]]</td>
                    <td>[[${baptism.phoneNr}]]</td>
                    <th> Enabled</th>
                    <td>
                        <a class="h4 mr-4" th:href="@{'/daVincibaptisms/edit/' + ${baptism.id}}">Edit</a>
                        <a class="h4 " th:href="@{'/daVincibaptisms/delete/' + ${baptism.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>