<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dream wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body style="background-color: blanchedalmond">
<!--<div style="background-image: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmVM7BG0nyXw49n34MkyOGo1NGvDvC4fw8xQ&usqp=CAU">-->
<div class="text-center"><h1 id="title"> R & M </h1></div>
<div class="text-center"><h1 style="font-family: Gabriola"> Fenice Restaurant  </h1></div>
<div class="text-center"><h2 style="font-family: Gabriola"> R & M is a boutique events planning and design company based in Romania. </h2></div>
<div>

    <a class="h2" th:href= "@{/viaweddings}">Manage Events </a>
</div>


</body>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightsteelblue;
        color: honeydew;
        text-align: center;
    }
    </style>
<div class="footer">
    <p> <h1 style="font-family: Gabriola">Thank you for choosing us !</h1></p>
    <p> <h4 style="font-family: Gabriola">Cioca Raluca & Sohoreanu Miriam</h4></p>
    <p> <h4 style="font-family: Gabriola">events@yahoo.com</h4></p>
</div>
</html>